In [1]:
# 필요한 라이브러리 설치 및 임포트
#!pip install pandas

import pandas as pd
import datetime
from dateutil.parser import parse

---

# [Step 2] 데이터 전처리

#### **<span style="color:blue">[2-0] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [2]:
# 데이터 로딩
data_path ='./air_2022.csv'
air_22 = pd.read_csv(data_path)

data_path2 ='./air_2021.csv'
air_21 = pd.read_csv(data_path2)

data_path3 ='./weather_2021.csv'
weather_21 = pd.read_csv(data_path3, sep=',',encoding='cp949')

data_paht4 ='./weather_2022.csv'
weather_22 = pd.read_csv(data_paht4, sep=',',encoding='cp949')

#### **<span style="color:blue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경
* 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-5]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 날씨 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예:측정일시 값 -1)하세요.

In [3]:
from datetime import datetime, timedelta

def zerofrom24(datetime, _format):
    datetime = str(datetime)
    try:
        return pd.to_datetime(datetime, format = _format)
    except:
        datetime = datetime[:-2] + '00'
        return pd.to_datetime(datetime, format = _format)+ timedelta(days=1)
air_21['time']=air_21['측정일시']
air_21['time']=air_21['time'].map(lambda x : zerofrom24(x,'%Y%m%d%H'))
air_21

,Unnamed: 0,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00
1,1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 02:00:00
2,2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19,2021-10-01 03:00:00
3,3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 04:00:00
4,4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,8755,서울 종로구,도시대기,111123,종로구,2021093020,0.003,0.7,0.020,0.036,35.0,24.0,서울 종로구 종로35가길 19,2021-09-30 20:00:00
8756,8756,서울 종로구,도시대기,111123,종로구,2021093021,0.003,0.6,0.016,0.035,34.0,21.0,서울 종로구 종로35가길 19,2021-09-30 21:00:00
8757,8757,서울 종로구,도시대기,111123,종로구,2021093022,0.003,0.6,0.012,0.036,30.0,19.0,서울 종로구 종로35가길 19,2021-09-30 22:00:00
8758,8758,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.004,0.042,33.0,19.0,서울 종로구 종로35가길 19,2021-09-30 23:00:00
8759,8759,서울 종로구,도시대기,111123,종로구,2021093024,0.003,0.6,0.003,0.042,29.0,17.0,서울 종로구 종로35가길 19,2021-10-01 00:00:00

In [4]:
air_21.dtypes

Unnamed: 0             int64
지역                    object
망                     object
측정소코드                  int64
측정소명                  object
측정일시                   int64
SO2                  float64
CO                   float64
O3                   float64
NO2                  float64
PM10                 float64
PM25                 float64
주소                    object
time          datetime64[ns]
dtype: object

In [5]:
air_22['time']=air_22['측정일시']
air_22['time']=air_22['time'].map(lambda x : zerofrom24(x,'%Y%m%d%H'))

air_22.dtypes

Unnamed: 0             int64
지역                    object
망                     object
측정소코드                  int64
측정소명                  object
측정일시                   int64
SO2                  float64
CO                   float64
O3                   float64
NO2                  float64
PM10                 float64
PM25                 float64
주소                    object
time          datetime64[ns]
dtype: object

---

#### **<span style="color:blue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경

In [6]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.

weather_21['time']=weather_21['일시']
weather_21['time']=pd.to_datetime(weather_21['time'])
weather_21.dtypes

지점                        int64
지점명                      object
일시                       object
기온(°C)                  float64
기온 QC플래그                float64
강수량(mm)                 float64
강수량 QC플래그               float64
풍속(m/s)                 float64
풍속 QC플래그                float64
풍향(16방위)                float64
풍향 QC플래그                float64
습도(%)                     int64
습도 QC플래그                float64
증기압(hPa)                float64
이슬점온도(°C)               float64
현지기압(hPa)               float64
현지기압 QC플래그              float64
해면기압(hPa)               float64
해면기압 QC플래그              float64
일조(hr)                  float64
일조 QC플래그                float64
일사(MJ/m2)               float64
일사 QC플래그                float64
적설(cm)                  float64
3시간신적설(cm)              float64
전운량(10분위)               float64
중하층운량(10분위)               int64
운형(운형약어)                 object
최저운고(100m )             float64
시정(10m)                   int64
지면상태(지면상태코드)            float64
현상번호(국내식)               float64
지면온도(°C)                float64
지면온도 QC플래그              float64
5cm 지중온도(°C)            float64
10cm 지중온도(°C)           float64
20cm 지중온도(°C)           float64
30cm 지중온도(°C)           float64
time             datetime64[ns]
dtype: object

In [7]:
weather_22['time']=weather_22['일시']
weather_22['time']=pd.to_datetime(weather_22['time'])
weather_22.dtypes

지점                        int64
지점명                      object
일시                       object
기온(°C)                  float64
기온 QC플래그                float64
강수량(mm)                 float64
강수량 QC플래그               float64
풍속(m/s)                 float64
풍속 QC플래그                float64
풍향(16방위)                  int64
풍향 QC플래그                float64
습도(%)                     int64
습도 QC플래그                float64
증기압(hPa)                float64
이슬점온도(°C)               float64
현지기압(hPa)               float64
현지기압 QC플래그              float64
해면기압(hPa)               float64
해면기압 QC플래그              float64
일조(hr)                  float64
일조 QC플래그                float64
일사(MJ/m2)               float64
일사 QC플래그                float64
적설(cm)                  float64
3시간신적설(cm)              float64
전운량(10분위)                 int64
중하층운량(10분위)               int64
운형(운형약어)                 object
최저운고(100m )             float64
시정(10m)                   int64
지면상태(지면상태코드)            float64
현상번호(국내식)               float64
지면온도(°C)                float64
지면온도 QC플래그              float64
5cm 지중온도(°C)            float64
10cm 지중온도(°C)           float64
20cm 지중온도(°C)           float64
30cm 지중온도(°C)           float64
time             datetime64[ns]
dtype: object

---

#### **<span style="color:blue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
* df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
* df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [8]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21=pd.merge(air_21, weather_21, on='time')
df_22=pd.merge(air_22, weather_22, on='time')

In [9]:
df_21

,Unnamed: 0,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,...,NaN,2000,NaN,NaN,17.4,NaN,22.1,22.0,22.5,22.9
1,1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,...,NaN,2000,NaN,NaN,17.2,NaN,21.8,21.8,22.4,22.8
2,2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,...,NaN,2000,NaN,NaN,17.0,NaN,21.6,21.6,22.2,22.8
3,3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,...,NaN,2000,NaN,NaN,16.5,NaN,21.3,21.4,22.0,22.7
4,4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,...,NaN,1995,NaN,NaN,16.6,NaN,21.1,21.2,21.9,22.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,8755,서울 종로구,도시대기,111123,종로구,2021093020,0.003,0.7,0.020,0.036,...,NaN,2000,NaN,NaN,19.9,NaN,23.7,23.4,23.1,22.8
8755,8756,서울 종로구,도시대기,111123,종로구,2021093021,0.003,0.6,0.016,0.035,...,NaN,2000,NaN,NaN,19.2,NaN,23.3,23.1,23.0,22.9
8756,8757,서울 종로구,도시대기,111123,종로구,2021093022,0.003,0.6,0.012,0.036,...,NaN,2000,NaN,NaN,18.6,NaN,23.0,22.8,22.9,22.9
8757,8758,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.004,0.042,...,NaN,2000,NaN,NaN,18.1,NaN,22.6,22.5,22.8,22.9
8758,8759,서울 종로구,도시대기,111123,종로구,2021093024,0.003,0.6,0.003,0.042,...,NaN,2000,NaN,NaN,17.8,NaN,22.3,22.3,22.7,22.9

In [10]:
df_22

,Unnamed: 0,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,0,서울 종로구,도시대기,111123,종로구,2022010101,0.003,0.4,0.026,0.016,...,NaN,2000,NaN,NaN,-7.2,NaN,-1.1,-1.1,-0.2,1.0
1,1,서울 종로구,도시대기,111123,종로구,2022010102,0.003,0.4,0.022,0.020,...,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.2,-0.2,1.0
2,2,서울 종로구,도시대기,111123,종로구,2022010103,0.003,0.5,0.014,0.028,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.2,-0.2,1.0
3,3,서울 종로구,도시대기,111123,종로구,2022010104,0.003,0.5,0.016,0.027,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.3,-0.3,1.0
4,4,서울 종로구,도시대기,111123,종로구,2022010105,0.003,0.5,0.005,0.040,...,NaN,2000,NaN,NaN,-7.7,NaN,-1.5,-1.4,-0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,2154,서울 종로구,도시대기,111123,종로구,2022033119,0.002,0.4,0.044,0.010,...,9.0,2000,NaN,NaN,10.0,NaN,12.6,11.8,11.0,10.2
2155,2155,서울 종로구,도시대기,111123,종로구,2022033120,0.002,0.4,0.036,0.017,...,NaN,2000,NaN,NaN,8.9,NaN,12.2,11.6,11.0,10.3
2156,2156,서울 종로구,도시대기,111123,종로구,2022033121,0.002,0.4,0.032,0.018,...,10.0,2000,NaN,NaN,7.8,NaN,11.8,11.4,11.0,10.4
2157,2157,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.038,0.013,...,10.0,2000,NaN,NaN,7.3,NaN,11.4,11.1,10.9,10.5
2158,2158,서울 종로구,도시대기,111123,종로구,2022033123,0.003,0.3,0.036,0.015,...,10.0,2000,NaN,NaN,6.7,NaN,11.0,10.8,10.8,10.5

---

#### **<span style="color:blue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
* df_21, df_22에 사용할 변수들만 넣어보세요.

In [11]:
#df_21에 사용할 변수들만 할당
df_21.columns

Index(['Unnamed: 0', '지역', '망', '측정소코드', '측정소명', '측정일시', 'SO2', 'CO', 'O3',
       'NO2', 'PM10', 'PM25', '주소', 'time', '지점', '지점명', '일시', '기온(°C)',
       '기온 QC플래그', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)',
       '풍향 QC플래그', '습도(%)', '습도 QC플래그', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)',
       '현지기압 QC플래그', '해면기압(hPa)', '해면기압 QC플래그', '일조(hr)', '일조 QC플래그',
       '일사(MJ/m2)', '일사 QC플래그', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)',
       '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [12]:
#미세먼지 예측을 위한 기계학습 모델 간 성능 비교 연구:국내 발생 데이터를 중심으로(성상하, 김상진, 2020)
#에 따르면 풍속, 풍향과 같은 대기적/기상 요인과 산업 발생 요인이 있다고 함.
drop_columns = ['Unnamed: 0', '지역', '망', '측정소코드','측정일시', '측정소명', '주소', '지점명', '일시', '운형(운형약어)', '기온 QC플래그', '일사 QC플래그', '풍향 QC플래그', '습도 QC플래그', '현상번호(국내식)', '현지기압 QC플래그', '해면기압 QC플래그', '일조 QC플래그', '강수량 QC플래그', '풍속 QC플래그','지면온도 QC플래그', '지면상태(지면상태코드)']

df_21 = df_21.drop(columns=drop_columns)
df_21

,SO2,CO,O3,NO2,PM10,PM25,time,지점,기온(°C),강수량(mm),...,3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,0.003,0.6,0.002,0.039,31.0,18.0,2021-10-01 01:00:00,108,18.7,NaN,...,NaN,0.0,0,NaN,2000,17.4,22.1,22.0,22.5,22.9
1,0.003,0.6,0.002,0.035,27.0,16.0,2021-10-01 02:00:00,108,18.3,NaN,...,NaN,0.0,0,NaN,2000,17.2,21.8,21.8,22.4,22.8
2,0.003,0.6,0.002,0.033,28.0,18.0,2021-10-01 03:00:00,108,17.7,NaN,...,NaN,0.0,0,NaN,2000,17.0,21.6,21.6,22.2,22.8
3,0.003,0.6,0.002,0.030,26.0,16.0,2021-10-01 04:00:00,108,17.4,NaN,...,NaN,0.0,0,NaN,2000,16.5,21.3,21.4,22.0,22.7
4,0.003,0.5,0.003,0.026,26.0,16.0,2021-10-01 05:00:00,108,17.2,NaN,...,NaN,4.0,0,NaN,1995,16.6,21.1,21.2,21.9,22.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,0.003,0.7,0.020,0.036,35.0,24.0,2021-09-30 20:00:00,108,21.7,NaN,...,NaN,0.0,0,NaN,2000,19.9,23.7,23.4,23.1,22.8
8755,0.003,0.6,0.016,0.035,34.0,21.0,2021-09-30 21:00:00,108,20.9,NaN,...,NaN,0.0,0,NaN,2000,19.2,23.3,23.1,23.0,22.9
8756,0.003,0.6,0.012,0.036,30.0,19.0,2021-09-30 22:00:00,108,20.4,NaN,...,NaN,0.0,0,NaN,2000,18.6,23.0,22.8,22.9,22.9
8757,0.003,0.6,0.004,0.042,33.0,19.0,2021-09-30 23:00:00,108,19.7,NaN,...,NaN,0.0,0,NaN,2000,18.1,22.6,22.5,22.8,22.9
8758,0.003,0.6,0.003,0.042,29.0,17.0,2021-10-01 00:00:00,108,19.2,NaN,...,NaN,0.0,0,NaN,2000,17.8,22.3,22.3,22.7,22.9

In [13]:
#df_22에 사용할 변수들만 할당

df_22=df_22.drop(columns=drop_columns)
df_22 = df_22.drop([], axis=1)
df_22

,SO2,CO,O3,NO2,PM10,PM25,time,지점,기온(°C),강수량(mm),...,3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,0.003,0.4,0.026,0.016,23.0,12.0,2022-01-01 01:00:00,108,-9.2,NaN,...,NaN,0,0,NaN,2000,-7.2,-1.1,-1.1,-0.2,1.0
1,0.003,0.4,0.022,0.020,20.0,9.0,2022-01-01 02:00:00,108,-9.5,NaN,...,NaN,0,0,NaN,2000,-7.5,-1.3,-1.2,-0.2,1.0
2,0.003,0.5,0.014,0.028,20.0,9.0,2022-01-01 03:00:00,108,-9.3,NaN,...,NaN,0,0,NaN,2000,-7.6,-1.4,-1.2,-0.2,1.0
3,0.003,0.5,0.016,0.027,19.0,10.0,2022-01-01 04:00:00,108,-9.6,NaN,...,NaN,0,0,NaN,2000,-7.6,-1.4,-1.3,-0.3,1.0
4,0.003,0.5,0.005,0.040,24.0,11.0,2022-01-01 05:00:00,108,-9.7,NaN,...,NaN,0,0,NaN,2000,-7.7,-1.5,-1.4,-0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,0.002,0.4,0.044,0.010,10.0,9.0,2022-03-31 19:00:00,108,12.3,NaN,...,NaN,6,1,9.0,2000,10.0,12.6,11.8,11.0,10.2
2155,0.002,0.4,0.036,0.017,11.0,8.0,2022-03-31 20:00:00,108,11.6,NaN,...,NaN,6,0,NaN,2000,8.9,12.2,11.6,11.0,10.3
2156,0.002,0.4,0.032,0.018,10.0,7.0,2022-03-31 21:00:00,108,10.5,NaN,...,NaN,1,1,10.0,2000,7.8,11.8,11.4,11.0,10.4
2157,0.003,0.3,0.038,0.013,11.0,5.0,2022-03-31 22:00:00,108,9.3,NaN,...,NaN,3,3,10.0,2000,7.3,11.4,11.1,10.9,10.5
2158,0.003,0.3,0.036,0.015,11.0,5.0,2022-03-31 23:00:00,108,8.4,NaN,...,NaN,1,1,10.0,2000,6.7,11.0,10.8,10.8,10.5

In [14]:
# time 변수를 index로 세팅

df_21 = df_21.set_index('time')
df_22 = df_22.set_index('time')

---

#### **<span style="color:blue">[2-5] 변수들의 결측치 처리</span>**

In [15]:
# df_21, df_22의 결측치 확인
df_21.isnull().sum()

SO2               112
CO                 80
O3                 97
NO2                80
PM10              105
PM25               97
지점                  0
기온(°C)              0
강수량(mm)          7810
풍속(m/s)             2
풍향(16방위)            2
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           3968
일사(MJ/m2)        3968
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
최저운고(100m )      4212
시정(10m)             0
지면온도(°C)            5
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

In [16]:
df_22.isnull().sum()

SO2                21
CO                 21
O3                 21
NO2                21
PM10               38
PM25               25
지점                  0
기온(°C)              0
강수량(mm)          2078
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           1088
일사(MJ/m2)        1088
적설(cm)           2019
3시간신적설(cm)       2144
전운량(10분위)           0
중하층운량(10분위)         0
최저운고(100m )      1416
시정(10m)             0
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

In [17]:
# df_21, df_22의 변수 중 '강수량(mm)'의 결측치를 처리

df_21['강수량(mm)'] = df_21['강수량(mm)'].fillna(0)

df_22['강수량(mm)'] = df_22['강수량(mm)'].fillna(0)

In [18]:
# df_21, df_22의 남은 결측치를 처리
df_21 = df_21.fillna(method= 'ffill')
df_21 = df_21.fillna(method= 'backfill')
df_22 = df_22.fillna(method= 'ffill')
df_22 = df_22.fillna(method= 'backfill')

In [19]:
df_21.isnull().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
지점               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

In [20]:
#df_21에 사용할 변수들만 할당
columns_with_null = df_21.columns[df_21.isnull().any()].tolist()

df_21 = df_21.drop(columns=columns_with_null)

#df_22에 사용할 변수들만 할당
selected = [col for col in df_22.columns if col in df_21.columns]

df_22 = df_22[selected]

In [21]:
df_21.isnull().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
지점               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

In [22]:
# df_21, df_22의 결측치 재확인

df_22.isnull().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
지점               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

---

#### **<span style="color:blue">[2-6] 전일 같은 시간 변수 추가</span>**

* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가합니다. 
* 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [23]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음)

df_21['month'] = df_21.index.month
df_21['day'] = df_21.index.day
df_21['hour'] = df_21.index.hour

df_22['month'] = df_22.index.month
df_22['day'] = df_22.index.day
df_22['hour'] = df_22.index.hour

# month, day, hour 열을 기준으로 데이터프레임 정렬
df_21 = df_21.sort_values(by=['month', 'day', 'hour'])
df_22 = df_22.sort_values(by=['month', 'day', 'hour'])

In [24]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.

df_21['PM10_lag1'] = df_21['PM10'].shift(24)

df_22['PM10_lag1'] = df_22['PM10'].shift(24)

df_21['PM10_lag1']

time
2021-01-01 01:00:00     NaN
2021-01-01 02:00:00     NaN
2021-01-01 03:00:00     NaN
2021-01-01 04:00:00     NaN
2021-01-01 05:00:00     NaN
                       ...
2021-12-31 19:00:00    23.0
2021-12-31 20:00:00    24.0
2021-12-31 21:00:00    31.0
2021-12-31 22:00:00    28.0
2021-12-31 23:00:00    29.0
Name: PM10_lag1, Length: 8759, dtype: float64

In [25]:
# 'PM10_lag1' 열의 결측치를 12월 31일 데이터로 채우기
for i in range(1, 24):  # 1시부터 23시까지
    df_21.loc['2021-01-01 0{:02d}:00:00'.format(i), 'PM10_lag1'] = df_21.loc['2021-12-31 0{:02d}:00:00'.format(i), 'PM10']

#22년도 1월 1일 데이터는 21년도 12월 31일 데이터로 채움
for i in range(1, 24):  # 1시부터 23시까지
    df_22.loc['2022-01-01 0{:02d}:00:00'.format(i), 'PM10_lag1'] = df_21.loc['2021-12-31 0{:02d}:00:00'.format(i), 'PM10']
df_21['PM10_lag1']

time
2021-01-01 01:00:00    21.0
2021-01-01 02:00:00    20.0
2021-01-01 03:00:00    22.0
2021-01-01 04:00:00    24.0
2021-01-01 05:00:00    25.0
                       ...
2021-12-31 19:00:00    23.0
2021-12-31 20:00:00    24.0
2021-12-31 21:00:00    31.0
2021-12-31 22:00:00    28.0
2021-12-31 23:00:00    29.0
Name: PM10_lag1, Length: 8759, dtype: float64

In [26]:
df_21[df_21['PM10_lag1'].isna()]

,SO2,CO,O3,NO2,PM10,PM25,지점,기온(°C),강수량(mm),풍속(m/s),...,시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour,PM10_lag1
time,,,,,,,,,,,,,,,,,,,,,
2021-01-02,0.003,0.5,0.026,0.014,34.0,19.0,108,-3.4,0.0,2.5,...,2000,-3.8,-0.1,-0.5,0.1,1.3,1,2,0,NaN

In [27]:
df_22[df_22['PM10_lag1'].isna()]

,SO2,CO,O3,NO2,PM10,PM25,지점,기온(°C),강수량(mm),풍속(m/s),...,시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour,PM10_lag1
time,,,,,,,,,,,,,,,,,,,,,
2022-01-02,0.005,1.2,0.002,0.064,42.0,26.0,108,-2.8,0.0,2.3,...,2000,-3.3,-0.4,-0.7,-0.3,0.8,1,2,0,NaN

In [28]:
df_22.head(30)

,SO2,CO,O3,NO2,PM10,PM25,지점,기온(°C),강수량(mm),풍속(m/s),...,시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour,PM10_lag1
time,,,,,,,,,,,,,,,,,,,,,
2022-01-01 01:00:00,0.003,0.4,0.026,0.016,23.0,12.0,108,-9.2,0.0,1.8,...,2000,-7.2,-1.1,-1.1,-0.2,1.0,1,1,1,21.0
2022-01-01 02:00:00,0.003,0.4,0.022,0.020,20.0,9.0,108,-9.5,0.0,1.2,...,2000,-7.5,-1.3,-1.2,-0.2,1.0,1,1,2,20.0
2022-01-01 03:00:00,0.003,0.5,0.014,0.028,20.0,9.0,108,-9.3,0.0,1.4,...,2000,-7.6,-1.4,-1.2,-0.2,1.0,1,1,3,22.0
2022-01-01 04:00:00,0.003,0.5,0.016,0.027,19.0,10.0,108,-9.6,0.0,1.7,...,2000,-7.6,-1.4,-1.3,-0.3,1.0,1,1,4,24.0
2022-01-01 05:00:00,0.003,0.5,0.005,0.040,24.0,11.0,108,-9.7,0.0,0.8,...,2000,-7.7,-1.5,-1.4,-0.3,1.0,1,1,5,25.0
2022-01-01 06:00:00,0.003,0.6,0.002,0.045,19.0,11.0,108,-9.8,0.0,1.9,...,2000,-7.6,-1.6,-1.4,-0.3,0.9,1,1,6,28.0
2022-01-01 07:00:00,0.003,0.6,0.002,0.044,24.0,14.0,108,-10.1,0.0,1.9,...,2000,-7.6,-1.6,-1.5,-0.3,0.9,1,1,7,24.0
2022-01-01 08:00:00,0.003,0.6,0.002,0.042,27.0,16.0,108,-10.2,0.0,2.5,...,2000,-7.4,-1.7,-1.5,-0.3,0.9,1,1,8,23.0
2022-01-01 09:00:00,0.003,0.6,0.006,0.038,26.0,12.0,108,-9.1,0.0,2.1,...,2000,-6.4,-1.7,-1.6,-0.4,0.9,1,1,9,22.0
2022-01-01 10:00:00,0.004,0.5,0.019,0.024,22.0,10.0,108,-6.8,0.0,2.3,...,2000,-3.1,-1.5,-1.5,-0.4,0.9,1,1,10,17.0
2022-01-01 11:00:00,0.004,0.4,0.024,0.020,22.0,10.0,108,-4.3,0.0,0.9,...,2000,-0.4,-1.2,-1.4,-0.4,0.9,1,1,11,20.0
2022-01-01 12:00:00,0.004,0.5,0.021,0.025,22.0,10.0,108,-2.3,0.0,1.2,...,2000,3.0,-0.9,-1.2,-0.4,0.8,1,1,12,20.0
2022-01-01 13:00:00,0.004,0.5,0.020,0.028,28.0,17.0,108,-0.1,0.0,1.5,...,2000,5.5,-0.6,-1.1,-0.4,0.8,1,1,13,23.0
2022-01-01 14:00:00,0.004,0.5,0.020,0.027,27.0,15.0,108,1.3,0.0,2.2,...,2000,5.1,-0.4,-0.9,-0.4,0.8,1,1,14,21.0
2022-01-01 15:00:00,0.004,0.5,0.020,0.030,29.0,18.0,108,1.9,0.0,1.7,...,2000,2.1,-0.3,-0.8,-0.4,0.8,1,1,15,22.0
2022-01-01 16:00:00,0.004,0.5,0.017,0.032,29.0,18.0,108,1.8,0.0,1.4,...,2000,0.0,-0.2,-0.7,-0.4,0.8,1,1,16,26.0
2022-01-01 17:00:00,0.004,0.5,0.012,0.039,36.0,20.0,108,0.5,0.0,1.5,...,2000,-0.3,-0.1,-0.6,-0.4,0.8,1,1,17,29.0
2022-01-01 18:00:00,0.004,0.6,0.005,0.046,34.0,21.0,108,-0.9,0.0,0.7,...,2000,-1.2,-0.1,-0.6,-0.4,0.8,1,1,18,24.0
2022-01-01 19:00:00,0.004,0.7,0.002,0.052,35.0,22.0,108,-1.2,0.0,0.9,...,2000,-1.0,-0.1,-0.6,-0.4,0.8,1,1,19,25.0
2022-01-01 20:00:00,0.004,0.7,0.002,0.050,34.0,19.0,108,-1.6,0.0,0.9,...,2000,-2.3,-0.1,-0.6,-0.3,0.8,1,1,20,26.0
2022-01-01 21:00:00,0.004,0.8,0.002,0.053,36.0,20.0,108,-2.4,0.0,2.1,...,2000,-3.0,-0.2,-0.6,-0.3,0.8,1,1,21,27.0
2022-01-01 22:00:00,0.004,1.0,0.002,0.060,38.0,23.0,108,-2.5,0.0,1.0,...,2000,-3.4,-0.3,-0.6,-0.3,0.8,1,1,22,20.0
2022-01-01 23:00:00,0.005,1.2,0.002,0.066,41.0,29.0,108,-2.6,0.0,0.9,...,2000,-3.0,-0.3,-0.7,-0.3,0.8,1,1,23,20.0
2022-01-02 00:00:00,0.005,1.2,0.002,0.064,42.0,26.0,108,-2.8,0.0,2.3,...,2000,-3.3,-0.4,-0.7,-0.3,0.8,1,2,0,NaN
2022-01-02 01:00:00,0.004,0.8,0.002,0.052,38.0,24.0,108,-2.9,0.0,2.1,...,2000,-3.4,-0.4,-0.7,-0.3,0.8,1,2,1,23.0
2022-01-02 02:00:00,0.004,0.8,0.002,0.052,34.0,23.0,108,-2.6,0.0,1.9,...,2000,-2.5,-0.4,-0.7,-0.3,0.8,1,2,2,20.0
2022-01-02 03:00:00,0.004,0.8,0.002,0.052,35.0,26.0,108,-2.1,0.0,2.5,...,2000,-2.1,-0.4,-0.7,-0.3,0.8,1,2,3,20.0
2022-01-02 04:00:00,0.004,0.6,0.002,0.046,33.0,24.0,108,-1.9,0.0,2.0,...,2000,-2.1,-0.3,-0.7,-0.3,0.8,1,2,4,19.0
2022-01-02 05:00:00,0.003,0.5,0.005,0.039,33.0,25.0,108,-1.9,0.0,2.3,...,1814,-2.0,-0.3,-0.7,-0.3,0.8,1,2,5,24.0
2022-01-02 06:00:00,0.004,0.5,0.005,0.037,32.0,23.0,108,-1.9,0.0,2.5,...,647,-1.8,-0.3,-0.7,-0.3,0.8,1,2,6,19.0

In [29]:
#1월 2일 00시 데이터 비어있음
df_21.loc['2021-01-02 00:00:00','PM10_lag1'] = df_21.loc['2021-01-02 00:00:00', 'PM10']

In [31]:
df_22.loc['2022-01-02 00:00:00','PM10_lag1'] = df_22.loc['2022-01-02 00:00:00', 'PM10']

---

#### **<span style="color:blue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [32]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가
df_21['PM10_1'] = df_21['PM10'].shift(-1)
df_22['PM10_1'] = df_22['PM10'].shift(-1)

In [33]:
# 결측치가 있다면 처리
columns=['PM10_1','PM10']
df_21[columns]

                     PM10_1  PM10
time
2021-01-01 01:00:00    25.0  24.0
2021-01-01 02:00:00    27.0  25.0
2021-01-01 03:00:00    23.0  27.0
2021-01-01 04:00:00    24.0  23.0
2021-01-01 05:00:00    26.0  24.0
...                     ...   ...
2021-12-31 19:00:00    26.0  25.0
2021-12-31 20:00:00    27.0  26.0
2021-12-31 21:00:00    20.0  27.0
2021-12-31 22:00:00    20.0  20.0
2021-12-31 23:00:00     NaN  20.0

[8759 rows x 2 columns]

In [34]:
df_21['PM10_1'].fillna(df_21['PM10'].iloc[0], inplace=True) #2021-01-01 01:00:00의 PM10 
df_22['PM10_1'].fillna(11.0, inplace=True)
df_21[columns]

                     PM10_1  PM10
time
2021-01-01 01:00:00    25.0  24.0
2021-01-01 02:00:00    27.0  25.0
2021-01-01 03:00:00    23.0  27.0
2021-01-01 04:00:00    24.0  23.0
2021-01-01 05:00:00    26.0  24.0
...                     ...   ...
2021-12-31 19:00:00    26.0  25.0
2021-12-31 20:00:00    27.0  26.0
2021-12-31 21:00:00    20.0  27.0
2021-12-31 22:00:00    20.0  20.0
2021-12-31 23:00:00    24.0  20.0

[8759 rows x 2 columns]

---

#### **<span style="color:blue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [35]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.

train_x = df_21.drop(columns=['PM10_1'])
train_y = df_21['PM10_1']

test_x = df_22.drop(columns=['PM10_1'])
test_y = df_22['PM10_1']

train_x.to_csv('train_x.csv', index=False)
train_y.to_csv('train_y.csv', index=False)
test_x.to_csv('test_x.csv', index=False)
test_y.to_csv('test_y.csv', index=False)